# test files
test.cpp
test.c
a.c

# build artefacts
a.out
webserv
c2_unit_tests
Catch2

# coverage artefacts
*.profraw
llvm_profdata/
lcov_report/
gcovr_report/

# objects
obj/
obj_c2/

# clangd stuff
.cache/
compile_commands.json

# other sources
test*.cpp
test*.c

# debugging
.gdbinit

# development tools
.vim/
